DATABASE_PATH=D:\1337control\metrics.db
AGENT_API_KEY=replace-with-a-long-random-agent-key
MOBILE_API_KEY=replace-with-a-long-random-mobile-key
COOKIE_SECURE=false

SERVER_URL=http://192.168.1.62:8000/api/v1/metrics
HOST_ID=my-pc
INTERVAL=3
